<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<span sec:authentication="name">Username</span>
<span sec:authentication="principal.authorities">Roles</span>
<div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;
    <i><span sec:authentication="principal.authorities">Roles</span></i>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
<div sec:authorize="hasAnyAuthority('CAMERIERE')">
    <input type="submit" value="CAMERIERE"/>
</div>
<div sec:authorize="hasAnyAuthority('CUOCO', 'MAGAZZINIERE')">
    <input type="submit" value="CUOCO O MAGAZZINIERE"/>
</div>
<div sec:authorize="hasAuthority('MANAGER')">
    <input type="submit" value="MANAGER"/>
</div>